<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anylytics Map</title>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/anylytics.css"/>
    <!--<link rel="stylesheet" href="/static/css/temperature.css"/>-->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">

</head>
<body>
    <div id='head'>
        <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">
                  <a class="navbar-brand hidden-xs" href="#"><img id="logo" src="/static/img/anylytics_logo.png"/></a>
                  <a class="navbar-brand visible-xs-inline"  href="#"><img id="logoxs" src="/static/img/anylytics_small_logo.png"/></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#"><h5>Home</h5></a></li>
                    <li><a href="#about"><h5>About</h5></a></li>
                    <li><a href="#contact"><h5>Contact</h5></a></li>
                  </ul>
                </div><!--/.nav-collapse -->
              </div>
            </nav>
    </div>

    <div id='mainarea'>
    <div id='map'> </div>
    <!--<div  class='container-fluid'>
        <div class='row'>
            <div id='leftPanel' class='map col-sm-12'>
                 <!-- Container For Map Ractive
                </div>
            </div>
    </div>-->

    <div id='rightPanel' class='sidebar hidden-xs'>
                <div class='heading'>
                    <h3 id="marginfix">Stories</h3>
                </div>
                <div id='listings2' class='listings'>
                    <div class='item'>
                        <a class='title'>Adnan Says ...</a>
                        <div>He was at the library</div>
                    </div>
                    <div class='item'>
                        <a class='title'>Jay Says ...</a>
                        <div>Adnan was at the Best Buy</div>
                    </div>
                </div>
                <div class='heading'>
                    <h3>Tower Locations</h3>
                </div>
                <div id='listings' class='listings'></div>
    </div>

    <!--<footer class = 'visible-lg-inline largeTimeline'>
        <div class='container-fluid'>
           <div  id='timeline'></div>
    </footer> -->

    <!--<footer class = 'visible-md-inline medTimeline'>
        <div class='container-fluid'>
           <div  id='timeline'></div>
           </div>
    </footer>-->

    <div id="timelineContainer">
        <div id="timeline"></div>
    </div>


    </div>

     <!-- RequireJS means we use this plugin to load everything else! -->
     <!-- See main.js -->
    <script data-main="/static/js/main" src="/static/js/lib/require.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>
        var mapElement = document.getElementById("map");
        mapElement.style.height = $( window ).height();
    </script>


</body>
</html>